<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="col s12 #01579b light-blue darken-4">
          <a href="/houses"><h1>Home</h1></a>
        </div>
      </header>
      <main>

        <h1><%=realtor.name%></h1>
        <form action="/realtor/<%=realtor._id%>?_method=PUT" method="POST">
          <input type="text" name="username" value="<%=realtor.username%>" placeholder="username"/> <br>
          <input type = "text" name = "email" value ="<%=realtor.email%>" placeholder="email"/> <br>
          <input type="text" name="name" value="<%=realtor.name%>" placeholder="name"/> <br>
          <button class="btn" type="submit">Update</button>
        </form>
        <br>

        <form action="/realtor/<%=realtor._id%>?_method=DELETE" method="POST">
          <button class='btn red' type="submit">DELETE</button>
        </form>

      </main>
    </div>

  </body>
</html>
