<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <a href="/houses"><h1>Home</h1></a>
    </header>
    <main>
      REALTOR PROFILE
      <h1><%=realtor.name%></h1>

      <form action="/realtor/<%=realtor._id%>?_method=PUT" method="POST">
        <input type="text" name="username" value="<%=realtor.username%>" placeholder="username"/> <br>
        <input type = "text" name = "email" value ="<%=realtor.email%>" placeholder="email"/> <br>
        <input type="text" name="name" value="<%=realtor.name%>" placeholder="name"/> <br>
        <input type = "text" name = "houses" value ="<%=realtor.houses%>" placeholder="houses"/> <br>
        <button type="submit">EDIT</button>
      </form>
    </main>
  </body>
</html>
