<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Profile</title>
</head>

<body>

  <main>
    <header>
      <section>
        <nav>
          <div class="nav-wrapper blue-grey darken-3">
            <a href="/" class="brand-logo center">Money Team</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/">Home</a></li>
              <%if(current){%>
              <li><a href="/realtor/<%=realtor._id%>/edit">Setting</a></li>
              <li><a href="/new">List New House</a></li>
              <%} else {%>
              <li><a href="/realtor/<%=userId%>">profile</a></li>
              <%}%>
            </ul>
          </div>
        </nav>
      </section>
    </header>
    <div class="row">

      <div class="col s6">

        <h1 style="color:teal">Realtor <%=realtor.name%>!</h1>

              <br><br>

              <h4>Email me</h4> <br>

              <form action="<%=realtor.email%>" method="post" enctype="text/plain">
                Name:<br>
                <input type="text" name="name"><br>
                E-mail:<br>
                <input type="text" name="mail"><br>
                Comment:<br>
                <input type="text" name="comment" size="50"><br><br>

                <button class="btn blue darken-4" type="reset" value="Reset">Send</button>
              </form>

              <br>

          </div>

          <div class="col s6 center-align">
            <% if(!realtor.houses.length){%>
            <h2>List House Now!!</h2>

            <a class="btn-floating btn-large waves-effect waves-light blue darken-4" href="/new"><i class="material-icons">add</i></a>
            <% } else {%>
            <ul>
              <% for (let i = 0; i < realtor.houses.length; i++) {%>

              <div class="card-panel hoverable">
                <li>
                  <h5><%=realtor.houses[i].address%></h5> <br>
                  <%if(current){%>
                  <a href="/<%=realtor.houses[i]._id%>/edit"><i class="small material-icons">edit</i></a>
                  <%}%>
                    <a href="/<%=realtor.houses[i]._id%>"><img src="<%=realtor.houses[i].img%>" width="300px">

                  </a>
                </li>
              </div>
              <% } %>
            </ul>
            <%}%>


          </div>

          </div>
  </main>
</body>

</html>
