<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <a href="/houses"><h1>Home</h1></a>
    </header>
    <main>
      <%if(realtor.isAdmin){%>
        <p>i am admin </p>
      <% } else { %>
        <p>i am not admin </p>
      <%}%></p>

      <h1>realtor show route In</h1>
      <h1> <%=realtor.name%><br/></h1>
      <h2><%=realtor.email%></h2>

     

      <%if(realtor.isAdmin && realtor.name === realtor.name){%>
        <a href="/realtor/<%=realtor._id%>/edit"> <button >Edit</button> </a>
        <a href="/houses/new%>"> Add A New Listing</a>
              <form action="/realtor/<%=realtor._id%>?_method=DELETE" method="POST">
                    <button type="submit">DELETE</button>
              </form>
      <%}%>

      <section>
      <h2>House for sale</h2>
      <ul>
        <% for (let i = 0; i < realtor.houses.length; i++) {%>
          <li><a href="/houses/<%=realtor.houses[i]._id%>"><%=realtor.houses[i].list%></a></li>
        <% } %>
      </ul>
      </section>

    </main>
  </body>
</html>
