<!DOCTYPE html>
<html>
  <head>
    <script defer type="text/javascript" src="/js/app.js"></script>
    <script defer type="text/javascript" src= "/js/map.js"></script>
    <script async defer
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTAH_yPmSaWOZnxvuNU157kgFdo0D8kaI&callback=initMap">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
    <style>
    #map{
      height: 400px;
      width : 400px;
    }
    #imgMap{
      height: 50px;
      width: auto;
    }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
  </head>
  <body>
    <header>
      <section>
        <a href="/auth/login"><button type="submit">Register To be a Realtor</button></a>
      </section>

      <nav>
        <a href="/auth/login">SignIn</a>/<a href="/auth/logout">SignOut</a>
      </nav>

      <section>
        <h1 id='login-wlcm'> Login</h1>
        <form action = "/auth/login" method = "POST">
          <input type = "text" name = "username" placeholder = "username">
          <input type = "password" name = "password" placeholder = "password">
        <a href = "/houses/new"><button type="submit" id='login'>Login</button></a>
        </form>
        <small><%=message%></small>
      </section>

      <h1><%=realtor%></h1>


      <a href="/houses"><h1>Home</h1></a>
    </header>
    <main>
      <h2> List of Houses</h2>
      <a href="/realtor">realtor</a>
      <ul id="list-of-houses">
        <%for(let i = 0; i < houses.length; i++) {%>
          <a href="/houses/<%=houses[i]._id%>"> <li class="house" data-add="<%=houses[i].address%>" data-price="<%=houses[i].price%>" data-img="<%=houses[i].img%>"> <%=houses[i].list%>
          </li> </a>
        <%}%>
      </ul>

      <input id="location-input" type="text">
      <form id="location-form">
        <input type="text">


        <form id="location-form">
        <select name="price">
        <input id="location-input" type="text" placeholder="enter address">

        <select name="price">
        <option value="">less than</option>
        <option value="500">500</option>
        <option value="1000">1000</option>
        <option value="2000">2000</option>
        </select>

        <select name="location">Radius Search</select>
        <select name="rooms">Bed/Room</select>
        <select name="type">Type</select>
        <button type="submit">Submit</button>
        <input  id="textPrice" type="text" placeholder="less than">
      </form>

      <div id="map"/>

  </body>
</html>
