<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script defer type="text/javascript" src="/js/app.js"></script>
        <script defer type="text/javascript" src= "/js/map.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTAH_yPmSaWOZnxvuNU157kgFdo0D8kaI&callback=initMap"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"defer></script>
            <title></title>
  </head>
      <body>
        <header>
            <section>
                   <div class="row1" id ="header">
                        <div class="col s12">
                   </div>

                   <div class = "row2 left-align" id ="registerbtn">
                        <div class = "col s12 m4 l2" id = "registerroute">
                                <a href="/auth/login"><button type="submit">Register To be a Realtor</button></a>
                        </div>
                   </div>

                    <div class = "row2 right-align" id = "indexlogin">
                          <form  class = "col s12 m4 l2"action="/auth/login" method="POST">
                                <input type="text" name="username" placeholder="username">
                                <input type="password" name="password" placeholder="password">
                          </form>

                                        <small> <%=message%></small>
                    </div>
                    <div class = "row3 right-align" id = "loginbtn">
                                 <a href="/houses/new"><button type="submit">Login</button></a>
                    </div>
                   </div>

            </section>

            <section>
                  <div>

                        <a href="/auth/login">Logout</a>
                        <a href="/houses"><h1>Home</h1></a>
                        <a href="/realtor">realtor</a>

                  </div>
            </section>
      </header>
<main>

       

<section>
   <ul id="list-of-houses">
              <%for(let i = 0; i < houses.length; i++) {%>
                   <li class="house" 
                                  data-add="<%=houses[i].address%>"  
                                  data-img="<%=houses[i].img%>"   
                                  data-price="<%=houses[i].price%>"   
                                  data-rooms="<%=houses[i].rooms%>" 
                                  data-type="<%=houses[i].type%>" >                   
                  </li>  
                   
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="<%=houses[i].img%>">
          <span class="card-title"><%=houses[i].list%></span>
          <a class="btn-floating halfway-fab waves-effect waves-light teal" href="/houses/<%=houses[i]._id%>"><i class="material-icons">visibility</i></a>
        </div>
        <div class="card-content">
          <p><%=houses[i].body%></p>
        </div>
      </div>
    </div>
  </div>   
     <%}%>
    </ul>
</section>

<section>


 
 
 
         <div >
              <form id="location-form">
                  <input id="location-input" type="text" placeholder="enter address">
                      <div class="input-field">
                        <select id="maxPrice" name="price">
                                <option value="9999999">Max Price</option>
                                <option value="500">less than 500</option>
                                <option value="1000">less than 1000</option>
                                <option value="2000">less than 2000</option>

                        </select>
                      </div>
                      <div class="input-field">
                        <select id="bedroomNb" >
                                <option value="9999999">All Bedrooms</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                        </select>
                      </div>
                      <div class="input-field">
                        <select id="houseType" >
                                <option value="any">Type</option>
                                <option value="apartment">Apartment</option>
                                <option value="House">House</option>
                                <option value="Condos">Condos</option>
                        </select>
                      </div>
                                    <button type="submit">Submit</button>
           
      </div>
</section>
<section>
      <div id="map"></div>
</section>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>

