<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script defer type="text/javascript" src="/js/show/map.js"> </script>
    <script defer
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTAH_yPmSaWOZnxvuNU157kgFdo0D8kaI&callback=initMap">
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title></title>


  </head>
  <body>


    <div class="row">
      <div class="col s12 #01579b light-blue darken-4">
        <a href="/houses"><h1>Home</h1></a>
      </div>

      <div class="col s6">
        <h2>location</h2>
        <div id="map"></div>
        <h3 >address</h3>
        <h4 id="address"><%=house.address%></h4>
      </div>

      <div class="col s6 card-panel hoverable">
        <a class="waves-effect waves-light btn-large" href="/realtor/<%=realtor._id%>">Contact Seller: <%=realtor.name%></a>
        <img src="<%=house.img%>" width="600px">
        <h4> $<%=house.price%> | <%=house.type%> | <%=house.rooms%>bd
        </h4>
        <p><%=house.body%></p>
        <%if(logged){%>
          <a href="/houses/<%=house._id%>/edit">edit</a>
        <%}%>
      </div>

    </div>
    <footer>
      <div>
      <h5 class="center-align">moneyteam100®</h5>
      </div>
    </footer>
  </body>
</html>
