<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <a href="/houses"><h1>Home</h1></a>
    </header>
    <main>
      <h1>House show route In</h1>
      <section>

        <h1>for sale by: <a href="/realtor/<%=realtor._id%>"><%=realtor.name%></h1> </a>
         <h1><%=house.list%></h1>
          <img src = "<%=house.img%>">
              <h2>Address:<%=house.address%><br/>
               $<%=house.price%><br/>
                Type:<%=house.type%><br/>
                Number of Rooms:<%=house.rooms%><br/>
              </h2>

          <p> <%=house.body%></p>
        
          <%if (realtor && realtor.isAdmin){%>
            <a href = "/houses/<%=house._id%>/edit">Edit</a>
          <%}%>

        </section>


    </main>
  </body>
</html>
