<!DOCTYPE html>
<html>
  <head>
    <title></title>
    
    <style>
    #map{
      height: 400px;
      width : 400px
    
    }
    
    </style>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <header>
      <a href="/houses"><h1>Home</h1></a>
    </header>
    <main>
      <h1>House show route In</h1>
      <section>

        <h1>for sale by: <a href="/realtor/<%=realtor._id%>"><%=realtor.name%></h1> </a>
         <h1><%=house.list%></h1>
          <img src = "<%=house.img%>">
          <h2 >address</h2>
              <h2 id="address"><%=house.address%></h2>
              <h2> $<%=house.price%><br/>
                Type:<%=house.type%><br/>
                Number of Rooms:<%=house.rooms%><br/>
              </h2>

          <p> <%=house.body%></p>
        
          <%if (realtor && realtor.isAdmin){%>
            <a href = "/houses/<%=house._id%>/edit">Edit</a>
          <%}%>

        </section>

 <h1>map</h1>
        <div id="map"></div>
       
      

    </main>
<script>
let lat = 34.0522;
let lng = -118.2437;
 function initMap(){
       function geocode(){
  console.log(document.getElementById('address').innerHTML);
  let location =document.getElementById('address').innerHTML;
  axios.get("https://maps.googleapis.com/maps/api/geocode/json", {
          params: {
            address: location,
            key: "AIzaSyCTAH_yPmSaWOZnxvuNU157kgFdo0D8kaI"
          }
        })
  .then(function(response){
   // console.log(response);
    latitude = response.data.results[0].geometry.location.lat;
    long = response.data.results[0].geometry.location.lng;
let marker = new google.maps.Marker({
    position:{lat:latitude, lng:long},
    map:map
});
  })
.catch(function(error){
console.log(error);
});
}
let options ={
    zoom: 8,
    center: {lat, lng}
}
//new map
geocode();
let map = new google.maps.Map(document.getElementById('map'), options);
}







</script>


  


  <script async defer
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTAH_yPmSaWOZnxvuNU157kgFdo0D8kaI&callback=initMap">
    </script>
  </body>
</html>
