<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <header>
      <a href="#"><h1>Home</h1></a>
    </header>
    <main>
      <h1>House show route In</h1>
      
      <section>
         <h1><%=house.list%></h1>
          <img src = "<%=house.img%>">
              <h2>Address:<%=house.address%><br/>
               $<%=house.price%><br/>
                Type:<%=house.type%><br/>
                Number of Rooms:<%=house.rooms%><br/>
              </h2>
              
                   <p> <%=house.body%></p>
          <a href = "/houses/<%=house._id%>/edit">Edit</a>
          <form action = "/houses/<%=house._id%>?_method=DELETE" method = "POST">
          <input type = "submit" value = "Delete House"/>
        </section>
    </main>
  </body>
</html>
